* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 0;
  background-color: #919191;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

::selection {
  background: #1edbb4;
  color: #fff;
}

.layout {

}

body {
  background: url("../assets/background1.jpg");
  background-size: cover;
}
